# Turso 数据库配置
TURSO_DATABASE_URL=libsql://chat-db-humuchen.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJleHAiOjE5MTE0NTQ5NzAsImlhdCI6MTc4NDYxOTc3MCwiaWQiOiIwMTlmODM5Zi0xYzAxLTc4NzQtOWUxMC1mYzViYjFhNzkzMDYiLCJraWQiOiJrMjk2d3ZpRjdFYlp2ZkZwM1J3Q2NNQUM0YXFtT2RhOHlQTU1Ed1FRWnI0IiwicmlkIjoiZTI4YzBhMDYtN2Q4NS00MzE5LThkNzAtOGRlY2U5ZTQwODBhIn0.csQ8vNbp7z6IOK8ZCefkqT6Fn2rRF0ShEkULYTSZOhoD7Ztr6DDMevZa_3rBPRb8zITqHUTjC9egIRY-hJjEBA

# CodeBuddy SDK 配置（可选）
CODEBUDDY_API_KEY=
CODEBUDDY_AUTH_TOKEN=
CODEBUDDY_INTERNET_ENVIRONMENT=
CODEBUDDY_BASE_URL=
